header,footer{
  height: 100px;
  background-color: white;
}
header > h2{
  margin-left: 260px;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
font-style: normal;
font-size: 24px;
line-height: 25.18px;
letter-spacing: -8%;
}
.container{
  display:flex;
  flex-direction: row;
  background-color: white;
}
.left{
  display: flex;
  background-color: white;
  margin-left: 260px;
}
.right{
  background-color: white;
 margin-left: 145px;
}
.right >h2{
  font-family: 'Space Mono', monospace;
font-style: normal;
font-size: 64px;
font-weight: 700;
line-height: 94.78px;
letter-spacing: -3.5%;
width: 590px;
  height: 190px;
}
.right > p{
  font-style: normal;
  font-weight: normal;
font-size: 24px;
font-family: 'Space Mono';
line-height: 35.54px;
letter-spacing: -3.5%;
width: 382px;
height: 108px;
color: grey;
}
button{
  font-family: 'Space Mono', monospace;
  font-style: normal;
font-size: 14px;
font-weight: 700;
line-height: 20.73px;
letter-spacing: -3.5%;
width: 216px;
height: 68px;
color: white;
background-color: rgb(24, 21, 21);
}
footer{
  display: flex;
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
font-size: 14px;
font-weight: 700;
line-height: 17.07px;
justify-content: center;
align-items: flex-end;
margin-top: 250px;
color: grey;

}
@media only screen and (max-width: 415px) {
.container{
  flex-direction: column;
}
.left,header > h2{
  margin-left: 20px;
  font-size: 24px;
}
.left img{
  width: 286.83px;
  height: 238px;
}
.right{
  margin-left: 20px;
  
}
.right h2{
  font-size: 40px;
line-height: 71.09px;
width: 350px;
}
.right p{
margin-bottom: 100px;
font-size: 18px;
line-height: 26.66px;
width: 360px;
height: 81px;
}
.footer{
margin-top: -12px;
margin-left: -95px;
}
}
